.card-product-less{
    width: 270px;
    height: 445px;
    position: relative;
    
     background-color: #ffffff;
     border: 1px solid #00000000 ;
     border-color: #5a4e9f;
     border-radius: 1.8rem;
     cursor: pointer;
}

.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }