.wrapper-change-password {
  :where(.css-dev-only-do-not-override-txh9fw).ant-input-affix-wrapper:not(
      .ant-input-affix-wrapper-disabled
    ):hover {
    border-color: #5648a5;
    border-inline-end-width: 1px;
    z-index: 1;
  }
  :where(.css-dev-only-do-not-override-txh9fw).ant-input-affix-wrapper-focused,
  :where(.css-dev-only-do-not-override-txh9fw).ant-input-affix-wrapper:focus {
    z-index: 1;
  }

  :where(.css-dev-only-do-not-override-txh9fw).ant-input-affix-wrapper:focus,
  :where(.css-dev-only-do-not-override-txh9fw).ant-input-affix-wrapper-focused {
    border-color: #5648a5;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
  }
}
